@using ProjekatAzil.Models
@model ProjekatAzil.Models.DogsViewModel

@{
    /**/

    ViewBag.Title = "Index";
}

<h2>Our dogs</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

    @using (Html.BeginForm())
    {
<p>
    Dogs Name : @Html.TextBox("DogName")
    Dogs Breed : @Html.TextBox("DogBreed")
    <input type="submit" value="Search" />
</p>
    }

@if (Model.Dogs.Count() == 0)
{
    @Html.Raw("Sorry, no dogs to show.")
}
else
{ 
<table class="table">
    <tr>
        <th>
            Images
        </th>
        <th>
            @Html.ActionLink("Name", "Index", Model.Sorting("Name"))
        </th>
        <th>
            @*@Html.ActionLink("Name", "Index", Model.Sorting("Breeds"))    treba da se sredi*@
        </th>
        <th>
            @Html.Raw("Age")
        </th>
        <th>
            Description
        </th>
        <th>
            Sex
        </th>
        <th>
            Weight
        </th>
        <th>
            Adoptiom
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Dogs)
    {
        <tr>
            <td>
                <img src="" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @string.Join(",", item.Breeds.Select(d => d.Name))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adoption)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                @Html.ActionLink("Wishlist", "AddToWishlist", new { id = item.Id })
            </td>
        </tr>
    }


</table>
    for (int i = 1; i <= Model.TotalPages; i++)
    {
@Html.ActionLink(i.ToString(), "Index", Model.Pagination(i));
@Html.Raw("|")
    }
}

