@using ProjekatAzil.Models
@model ProjekatAzil.Models.DogsViewModel

<!-- banner -->
@section HeaderBottom {
    <div class="about-heading">
        <div class="container">
            <h2>Our Dogs</h2>
        </div>
    </div>
}
<!-- //banner -->
<!-- gallery -->
<br />
<br/>
    <div class="container">
       
        @if (Model.Wishlist == false)
        {
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
        }
        <br/>
      
        @using (Html.BeginForm())
        {
            <p>
                Dogs Name: @Html.TextBox("DogName")
                Dogs Breed: @Html.TextBox("DogBreed")
                <input type="submit" value="Search" />
            </p>
        }
        
        @Html.ActionLink(" ", "Index", "Dogs", new { listMode = true }, new { @class = "glyphicon glyphicon-th-list"  })
        @Html.ActionLink(" ", "Index", "Dogs", new { listMode = false }, new { @class = "glyphicon glyphicon-th" })
        
        @if (Model.Dogs.Count() == 0)
        {

            @Html.Raw("Sorry, no dogs to show.")

        }
        else
        {
            if (Model.ListMode == true)
            {
                @Html.Partial("_IndexListMode")
            }
            else
            {
                @Html.Partial("_IndexGridMode")
            }
        }
        <!-- //gallery -->

        @if (Model.Wishlist == false)
        {
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
        }
        <br/>
    </div>


