@model ProjekatAzil.Models.Event
@using ProjekatAzil.Models

@section HeaderBottom{
    <div class="about-heading">
        <div class="container">
            <h2>News & Events</h2>
        </div>
    </div>
}

    <h2 align="center">
        @Model.Title
    </h2>



<div class="blog">
    <!-- container -->
    <div class="container">
        <div class="col-md-8 blog-top-left-grid">
            <div class="left-blog left-single">
                <div class="blog-left">
                    <div class="single-left-left">
                        <img src="~/Content/Event Images/@Model.NameOfImage" alt="" />
                        <p>@Model.UploadTimeStamp.ToString("dd/MM/yyyy  HH:MM")</p>
                        <br />
                        <p>
                            @foreach (var dog in Model.Dogs)
                            {
                                @Html.ActionLink(dog.Name, "Details/" + dog.Id, "Dogs")
                                <br />
                            }
                       </p>
                    </div>
                    <div class="blog-left-bottom">
                        <p>@Model.Description</p>
                    </div>
                </div>
            </div>
        </div>
            <div class="clearfix"> </div>
        </div>
    <!-- //container -->
</div>
<!-- //blog -->


<div>
    @if (User.IsInRole(RolesCfg.ADMIN))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) 
        @Html.Raw("|")
}
    @Html.ActionLink("Back to List", "Index")
</div>
