<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/lightbox.css" rel="stylesheet">
</head>

<body>
    <!-- header -->
    <div class="banner">
        <div class="header">
            <div class="container">
                <div class="header-left">
                    <div class="w3layouts-logo">
                        <a href='@Url.Action("Index", "Home")'>
                            <img src="~/images/logo.png" height="80" />
                        </a>
                    </div>
                </div>
                <div class="header-right">
                    <div class="top-nav">
                        <nav class="navbar navbar-default">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">

                                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                                    <li><a href="@Url.Action("About", "Home")">About</a></li>
                                    <li><a href="@Url.Action("Index", "Dogs")">Dogs</a></li>
                                    <li><a href="@Url.Action("Index", "Breeds")">Breeds</a></li>
                                    <li class="">
                                        <a href="#" class="dropdown-toggle hvr-bounce-to-bottom" data-toggle="dropdown" role="button" aria-haspopup="true" aria-
                                           expanded="false">Contact<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a class="hvr-bounce-to-bottom">@Html.ActionLink("Adoption", "AdoptionDogForm", "Forms")</a></li>
                                            <li><a class="hvr-bounce-to-bottom">@Html.ActionLink("Voulunteer", "VolunteerForm", "Forms")</a></li>
                                            <li><a class="hvr-bounce-to-bottom">@Html.ActionLink("Donation", "Donation", "Forms")</a></li>
                                            <li><a class="hvr-bounce-to-bottom">@Html.ActionLink("Other", "Contact", "Forms")</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="clearfix"> </div>
                            </div>
                        </nav>
                    </div>
                    
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        @RenderSection("HeaderBottom", required: false)
    </div>
    <!-- header -->


    @RenderBody()



    <!-- footer -->
    <footer>
        <div class="container">
            <div class="agileits-w3layouts-footer-grids">
                <div class="col-md-4 footer-left">
                    <h3>
                        <a href="index.html">Cat <span>Club</span></a>
                    </h3>
                    <div class="footer-social-grids">
                        <ul>
                            <li><a href="https://www.facebook.com/groups/214484685857816/"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/DogsShelter1"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 footer-left">
                    <h4>Navigation</h4>
                    <div class="col-md-6 footer-grid-left">
                        <ul>
                            <li><a class="active" href="index.html">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="icons.html">Icons</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 footer-grid-left">
                        <ul>
                            <li><a href="typography.html">Typography</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-4 footer-left">
                    <h4>Newsletter</h4>
                    <p>Subscribe With Us</p>
                    <form action="#" method="post">
                        <input type="email" placeholder="Subscribe" name="Subscribe" required="">
                        <button class="btn1">Go</button>
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </footer>
    <!-- footer -->
    <!-- copyright -->
    <div class="copyright">
        <div class="container">
            <p>© 2017 Cat Club. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
        </div>
    </div>
    <!-- //copyright -->


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->



</body>


</html>
