@model IEnumerable<ProjekatAzil.Models.Event>


<div class="news">
    <div class="container">
        <div class="w3ls-heading">
            <h3>News & Events</h3>
        </div>
        <div class="w3-agileits-news-grids">
            <div class="col-md-10 news-left">
                <div class="w3-agile-news-img">
                    <a href="single.html"><img src="~/Content/Event Images/@Model.FirstOrDefault().NameOfImage" alt="" /></a>
                    <h4><a href="single.html">@Model.FirstOrDefault().Title</a></h4>
                    <p>@Model.FirstOrDefault().Description</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UploadTimeStamp)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadTimeStamp)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
